<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" color="info" value="home" [(ngModel)]="selectTabs">
    <ion-segment-button value="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'camera'">
    <ion-button color="primary" (click)="startCamera()">Start Front</ion-button>
    <ion-button color="danger" (click)="stopCamera()">Stop Camera</ion-button>
  </div>

  <div *ngIf="selectTabs == 'home'">
    <ion-card color="danger">
      <ion-card-content>
        <div class="card2">
          Template gambar disini
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card style=" --background: #f9f9f9; border-bottom-left-radius: 20px; border-top-right-radius: 20px; ">
      <ion-card-header class=" text-center">
        <ion-card-subtitle>
          Teman Dengar
        </ion-card-subtitle>
        <ion-item-divider></ion-item-divider>
      </ion-card-header>
      <ion-card-content class="text-center">
        "Hi, Mari berkenalan!"
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>