<ion-tabs (ionTabsDidChange)="didChangeTab($event)">
  <div>
    <ion-tab-bar>
      <ion-grid>
        <ion-row>
          <ion-col [ngClass]="{activate: tab == 'teman-tuli'}">
            <ion-tab-button tab="teman-tuli">
              <ion-icon [src]="tabTuliIcon"></ion-icon>
            </ion-tab-button>
          </ion-col>
          <ion-col [ngClass]="{activate: tab == 'teman-dengar'}">
            <ion-tab-button tab="teman-dengar">
              <ion-icon [src]="tabDengarIcon"></ion-icon>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-tab-bar>
  </div>
</ion-tabs>