<ion-content>
  <ion-card
    style="--background: #F9F9F9; border-bottom-left-radius: 20px; border-top-right-radius: 20px; height: 400px;">

    <ion-card-header class="text-center">
      <ion-card-subtitle>
        Teman Tuli
      </ion-card-subtitle>
      <ion-item-divider style="--background: grey;"></ion-item-divider>
    </ion-card-header>

    <ion-card-content>
      "Hai, Mari berkenalan!"
    </ion-card-content>
  </ion-card>

  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-input type="text" placeholder="Masukkan chat Anda disini!" style="margin-left: 10px;"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button size="default" fill="clear" style="padding-left: -5px; margin-left: -2px;">
            <ion-icon name="enter" color="info" size="large" style="margin-left: -10px;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>