<ion-content>
  <ion-card>

    <ion-card-header class="text-center">
      <ion-card-subtitle>
        Teman Tuli
      </ion-card-subtitle>
      <ion-item-divider></ion-item-divider>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-input type="text"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button size="default" fill="clear" style="padding-left: -5px;">
            <ion-icon name="enter" color="info"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>