@font-face {
    font-family: 'Montserrat';
    src: url("../../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}

.text-center {
    text-align: center;
}

ion-card-subtitle {
    margin-bottom: -15px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat';
}

ion-card-content {
    font-family: "roboto";
    font-size: 15px;
}

ion-input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.ion-color-info {
    --ion-color-base: var(--ion-color-info);
    --ion-color-base-rgb: var(--ion-color-info-rgb);
    --ion-color-contrast: var(--ion-color-info-contrast);
    --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
    --ion-color-shade: var(--ion-color-info-shade);
    --ion-color-tint: var(--ion-color-info-tint);
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}